@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--color-1: #424242;
	--color-2: #DADFF7;
	--color-3: #A0C1D1;
	--color-4: #B5B2C2;
	--color-5: #EF767A;

	--color-back :#EEEEFB;
	--color-border: #424242;
	--color-header: #b2ffa8;
	--color-banner: #CAC4CE;
	--color-button-basic: #FDCA62;
	--color-button-hover: #FDB833;
	--color-button-press: #DA4167;
	--color-section: #F9F9FB;

	--border-width: 2px;
	--section-spacing: 15pt;
}


html{
	display:flex;
	justify-content: center;
	padding: 0;
	font-family: "Roboto";
}
body{
	margin:0;
	padding:0;
	width: 100%;
	background: #f1f1f1;
}

header{
	display: flex;
	flex-direction: row;
	background: pink;
	width: 100%;
	height: 100vh;
}

header img.profile{
	width: 250pt;
	border: solid 5pt white;
	border-radius: 100%;
	margin: 175pt;
	z-index: 1000;
}

.hero.left{
	display: flex;
	flex-direction:column;
	justify-content: center;
	border-right: solid 5pt white;
	width: 300pt;
	background: #212121;
}

.download{
	display:grid;
	grid-template-columns: min-content auto;
	padding: 10pt;
	text-decoration: none;
	background: goldenrod;
	margin-left: 10%;
	margin-right: 10%;
	color: #212121;
	font-size: 16pt;
}

.download .material-symbols-outlined{
	vertical-align: bottom;
	font-size: 18pt;
	margin-left: 0;
	margin-right: 10pt;
}

.hero.right{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: goldenrod;
	width: 100%;
	padding-left: 100pt;
}

.title-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #212121;
	padding: 10pt 50pt;
	margin: 50pt;
}

.title-card h1{
	color: #f1f1f1;
	font-size: 60pt;
	margin-bottom: 0;
}
.title-card h2{
	color: #f1f1f1;
	margin-top: 0;
	font-size: 32pt;
}

section{
	padding: 0 25%;
	margin-bottom: 30pt;
}

section h1{
	text-align: center;
	font-size: 32pt;
	font-color: #212121;
	margin: 0;
	padding: 20pt;
	padding-bottom: 5pt;
}
section hr{
	border: none;
	border-top: 3px double goldenrod;
	color: goldenrod;
	overflow: visible;
	text-align: center;
	height: 5px;
}
section hr::after{
	background: #f1f1f1;
	font-size: 20pt;
	content: "◆";
	padding: 0 4px;
	position: relative;
	top: -14pt;
}

/*************/
/* EDUCATION */
/*************/
.edu-title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 5pt;
}
.edu-title h2{
	margin: 0;
	margin-right: auto;
}
.time-range{
	font-weight: bold;
}

.courses{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.edu-block{
	margin-top: 50pt;
}
.edu-block h3{
	margin: 0;
}
.edu-block ul{
	padding: 0;
	margin-bottom:0;
}
.edu-block li{
	list-style: none;
}
.edu-block li::before{
	color: goldenrod;
	content: "◆ ";
}
.edu-text{
	border-left: solid 3pt goldenrod;
	padding-left: 10pt;
}


/**********/
/* FOOTER */
/**********/
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100pt;
	background: #212121;
}
footer img{
	height: 25pt;
	width: 25pt;
	margin: 15pt;
}

/*********/
/* OTHER */
/*********/

.inline-img{
	height: 20pt;
	margin-right: 10pt;
}



