@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--color-main: #FBB13C;
	--color-dark: #212121;
	--color-light: #f1f1f1;
}

html{
	display:flex;
	justify-content: center;
	padding: 0;
	font-family: "Roboto";
}
body{
	margin:0;
	padding:0;
	width: 100%;
	background: var(--color-light);
}

header{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100vh;
}

header img.profile{
	grid-row: 1;
	position: absolute;
	border: solid 5pt white;
	border-radius: 100%;
	width: 250pt;
	height: 250pt;
	object-fit: cover;
	margin-left: calc(300pt - 250pt / 2);
	z-index: 1000;
}

.hero.left{
	display: grid;
	align-items: center;
	grid-template-rows: auto 50pt;
	grid-template-columns: 1fr;
	border-right: solid 5px white;
	min-width: 300pt;
	background: var(--color-dark);
}

.download{
	grid-row: 2;
	postion: absolute;
	display:grid;
	grid-template-columns: min-content auto;
	padding: 10pt;
	text-decoration: none;
	background: var(--color-main);
	margin: 0 10pt 10pt 10pt;
	color: var(--color-dark);
	font-size: 16pt;
}

.download .material-symbols-outlined{
	vertical-align: bottom;
	font-size: 18pt;
	margin-left: 0;
	margin-right: 10pt;
}

.hero.right{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background: var(--color-main);
	width: 100%;
	padding-left: 150pt;
	padding-right: 25pt;
}

.title-card{
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--color-dark);
	padding: 10pt 50pt;
}

.title-card h1{
	color: var(--color-light);
	font-size: 60pt;
	margin-bottom: 0;
}
.title-card h2{
	color: var(--color-light);
	margin-top: 0;
	font-size: 32pt;
}

section{
	padding: 0 25%;
	margin-bottom: 30pt;
}

section h1{
	text-align: center;
	font-size: 32pt;
	font-color: var(--color-dark);
	margin: 0;
	padding: 20pt;
	padding-bottom: 5pt;
}
section hr{
	border: none;
	border-top: 3px double var(--color-main);
	color: var(--color-main);
	overflow: visible;
	text-align: center;
	height: 5px;
}
section hr::after{
	background: var(--color-light);
	font-size: 20pt;
	content: "◆";
	padding: 0 4px;
	position: relative;
	top: -14pt;
}

/*************/
/* EDUCATION */
/*************/
.edu-title{
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	margin-bottom: 5pt;
}
.edu-title h2{
	margin: 0;
	margin-right: auto;
}
.time-range{
	font-weight: bold;
}

.courses{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.edu-block{
	margin-top: 50pt;
}
.edu-block h3{
	margin: 0;
}
ul{
	padding: 0;
	margin-bottom:0;
}
li{
	list-style: none;
}
li::before{
	color: var(--color-main);
	content: "◆ ";
}
.edu-text{
	border-left: solid 3pt var(--color-main);
	padding-left: 10pt;
}


/**********/
/* FOOTER */
/**********/
footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 100pt;
	background: var(--color-dark);
}
footer img{
	height: 25pt;
	width: 25pt;
	margin: 15pt;
}

/**********/
/* SKILLS */
/**********/

.skills{
	width: 100%;
}
.skills p{
	margin: 0;
}

.skills p:first-child{
	margin-bottom: 10pt;
}

.skills span{
	display: inline-block;
	font-weight: bold;
}

/*****************/
/* PROJECT CARDS */
/*****************/

.project-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.project-card{
	position: relative;
	height: 370pt;
	width: 180pt;
	background: var(--color-light);
	margin: 10pt;
	padding: 10pt;

	border: solid 2pt var(--color-main);
}
.project-card p a{
	color: var(--color-dark);
}

.project-img{
	display: inline;
	width: 100%;
	object-fit: cover;
}

.project-link{
	position: absolute;
	display: inline-block;
	background: var(--color-dark);
	width: calc(100% - 40pt);
	bottom: 10pt;
	padding: 10pt;
	color: var(--color-light);
	text-decoration: none;
}
.project-link.disabled{
	background: #929292;
	cursor: not-allowed;
}
.project-link img{
	height: 16pt;
	vertical-align: bottom;
	margin-right: 5pt;
}

.project-card h2{
	text-align: center;
	margin-top: 5pt;
	margin-bottom: 5pt;
}

.project-card hr::after{
	top: -8.5pt;
	font-size: 12pt;
	background: var(--color-light);
}

/*********/
/* OTHER */
/*********/

.inline-img{
	height: 20pt;
	margin-right: 10pt;
}


@media screen and (max-width: 1000px){
	header{
		flex-direction: column;
	}

	.profile-container{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 100%;
	}

	.hero.left{
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 70vh;
		background: var(--color-main);
		border-left: none;
	}
	.hero.right{
		border-top: solid 5pt var(--color-light);
		height: 30vh;
		padding: 0;
		background: var(--color-dark);
	}
	.title-card{
		background: none;
	}
	.title-card h1{
		font-size: 80pt;
	}
	.title-card h2{
		font-size: 40pt;
	}

	header img.profile{
		margin: 0 auto;
		width: min(40vh, 70vw);
		height: min(40vh, 70vw);
	}
	.download{
		display:flex;
		flex-direction: row;
		justify-content: center;
		align-items:center;
		background: var(--color-dark);
		color: var(--color-light);
		min-width: 200pt;
		width: 80%;
		height: 5vw;
		font-size: 30pt;
		margin: 0;
		margin-top: auto;
		margin-bottom: 10pt;
	}
	.download .material-symbols-outlined{
		font-size: 35pt;
	}

	section{
		padding-left: 10%;
		padding-right: 10%;
	}
}
